# DB_URL="mongodb+srv://Vibe:123@vibe-test.jt5wz7s.mongodb.net/?retryWrites=true&w=majority&appName=vibe-test"
# FIREBASE_AUTH_EMULATOR_HOST=127.0.0.1:9099
# FIREBASE_EMULATOR_HOST=127.0.0.1:4000
# DB_URL="mongodb+srv://<username>:<password>@cluster0.fok1r7u.mongodb.net/"
GCLOUD_PROJECT=vibe-5b35a
PORT=8000
MODULE=all
# Environment
NODE_ENV='development'
APP_PORT='3000'
APP_MODULE='all'

# App
APP_URL="http://localhost:5173"
APP_ORIGINS="http://localhost:5173"

# Database
DB_NAME="PollDB"
MONGOMS_DEBUG="true"

# Firebase
# FIREBASE_CLIENT_EMAIL=""
# FIREBASE_PRIVATE_KEY=""
# FIREBASE_PROJECT_ID=
# FIREBASE_API_KEY=

DB_URI=mongodb://127.0.0.1:27017/pollDB